{% extends 'base.html.twig' %}

{% block title %}Etat{% endblock %}

{% block body %}
    <h1>Etat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ etat.nomEtat }}</td>
            </tr>
            <tr>
                <th>Automobile</th>
                <td><ul>
                {% for Automobile in etat.automobiles %}
                <li>{{ Automobile.getNImmatriculation() }}</li>
                {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etat_index') }}">back to list</a>

    <a href="{{ path('etat_edit', {'id': etat.id}) }}">edit</a>

    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
